extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
    
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Quster Bicar

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | This is my elevator pitch. 
            | This is my elevator pitch. 
            | This is my elevator pitch.
        

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li AWS
          li Javascript Full Stack
          li IT Fundamentals Certified
          li ITIL Certified
          li Cisco Network/Routers
        h6 Contact Info

        
        ul
          li 862-588-7292
          li qu.bicar@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/quster-bicar-802031178' target= '_blank') LinkedIn
        a.button.expanded(href='https://github.com/qbicar' target='_blank') GitHub
        a.button.expanded(href='instagram.com/starberzt' target='_blank') InstaGram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  