extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
    
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Quster Bicar

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | In January 2019 I decided to make a major career change.
            | I knew i was interested in 'IT' but did not know what exactly and where to even begin.
            | Then thankfully i got laid off with a one day notice and had an interview arranged the next day to attend FREE IT school for beginners.
            | My interview went well and i got accepted! This program is called "NPOWER" . I attended school for 16weeks . During my 16 weeks i obtained 2 IT certificates and am currently working on obaining my CCENT/CCNA.
            | I also learned about using AWS, Python, and how to take apart a computer and put it back together.
            | My current position now is at Verizon as a Software Developer Apprentice and i could not be any happier. The amount of material i have learned within 7! Months is Amazing!
            | I am all for learning something new and at this moment cannot be stopped. My ultimate goal is to work in Cyber Security!
          
        

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li AWS
          li Javascript Full Stack
          li IT Fundamentals Certified
          li ITIL Certified
          li Cisco Network/Routers
        h6 Contact Info

        
        ul
          li 862-588-7292
          li qu.bicar@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/quster-bicar-802031178' target= '_blank') LinkedIn
        a.button.expanded(href='https://github.com/qbicar' target='_blank') GitHub
        a.button.expanded(href='instagram.com/starberzt' target='_blank') InstaGram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  