extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together! 
      h1 Welcome To My Portfolio!

      p.lead.text-light
        | This Portfolio contains Javascript projects using jQuery, Express, Node, and Many More. Take a look around!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell.projectcell
          a(href='projects/' + project.id ) View Project Page
            img.thumbnail(src=project.main_image_url)
            h5= project.project_name
    
      
